/**
 * IT19114736
 * De Silva K.C.C.C
 * 
 */

@charset "ISO-8859-1";

#navbar
{
	position:fixed;
	box-sizing: border-box;
	top:0;
	width:100%;
	border-left:0;
	border-radius:0;
	padding:0 5%;
	overflow:auto;
	background-color:rgb(255,255,255,0.5);
	transition: 0.2s;
	}
#navbar a{
	font-size:14px;
	float:right;
	display:block;
	box-sizing: border-box;
	align-items:center;
	height:80px;
	line-height: 80px;
	padding: 0 18px;
	text-decoration:none;
	color: black;
	text-align: center;
	font-weight:700;
	
}
a#logo{
	float:left;
	padding:0;
	
}
a img{
	height:50px;
	
	padding-top:15px;
}