/**
 * IT19114736
 * De Silva K.C.C.C
 * 
 */

@charset "ISO-8859-1";

.table {

  	border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
  
    text-align: center;
    padding: 8px;
  }
  
  footer{
  	background-color:#cadee8;
  	padding: 30px;
  }

  